<p><%= t('devise.mailer.reset_password_instructions.greeting', :recepient => @resource.email, :default => "Hello #{@resource.email}!") %></p>

<p><%= t('devise.mailer.reset_password_instructions.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.") %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.instruction_2', :default => "If you didn't request this, please ignore this email.") %></p>
<p><%= t('devise.mailer.reset_password_instructions.instruction_3', :default => "Your password won't change until you access the link above and create a new one.") %></p>